
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
ENV/
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
.idea/
.vscode/
*.iml
.ipynb_checkpoints
*.db
*.sqlite3
*.log
.DS_Store
Thumbs.db
.env
.env.*
